@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::selection{
    @apply bg-brand text-default
}

html,body{
    @apply max-w-[100vw] overflow-hidden scroll-smooth text-sm
}

body{
    @apply text-default bg-background;
}

a{
    @apply text-inherit decoration-0 no-underline;
}

.section-wrapper{
    @apply relative z-10 max-w-[1150px] m-auto p-[9.6rem] overflow-hidden;
}

@media (max-width: 768px){
    .section-wrapper{
        @apply py-[7.2rem] px-[2.4rem];
    }
}

.chip{
    @apply text-xs bg-background-light py-[0.2rem] px-[0.8rem] rounded-[999px]
}