.canvas{
    @apply size-full bg-green-700;
}
.laptopH1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-weight: 400;
    font-size: 8em;
    letter-spacing: -0.045em;
    white-space: nowrap;
}

/* make content responsive for all screens :)*/

.content {
    width: 360px;
    height: 220px;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;
    scrollbar-width: none
}


.wrapper {
    width: 670px;
    height: 255px;
    transform: scale(0.5);
    transform-origin: top left;
}